* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  display: table;
  margin: auto;
  height: 80%;
  width: 75%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

section {
  background: rgb(250, 249, 249);
}

nav {
  float: left;
  width: 35%;
  padding: 1rem;
}

article {
  float: left;
  width: 65%;
  text-align-last: center;
}


section::after {
  content: "";
  display: table;
  clear: both;
}

p {
  margin: 0.5em;
}

.websiteLink {
  margin: auto;
  width: fit-content;
  display: block;
}

.otherLinks {
  margin-top:1em;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}