@font-face { font-family: Gotham; src: url('GothamSSm-Medium.otf'); } 
@font-face { font-family: Gotham; font-weight: bold; src: url('GothamSSm-Bold.otf');}


* {
  box-sizing: border-box;
}

html {
  font-family: 'Gotham';
  
  display: table;
  margin: auto;
  height: 80%;
  width: 75%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

section {
  background: rgb(250, 249, 249);
}

nav {
  float: left;
  width: 35%;
  padding: 1rem;
}

article {
  float: left;
  width: 65%;
  padding-left: 1em;
  /* text-align-last: center; */
}

section::after {
  content: "";
  display: table;
  clear: both;
}

p {
  margin: 0.5em;
  color: #9d865c;
}

.name {
  font-weight: 700;
  color: #086c38;
}

.websiteLink {
  margin: auto;
  width: fit-content;
  display: block;
}

.otherLinks {
  margin-top:1em;
}

a {
  color: rgb(0, 86, 179);
}
a:visited { 
  text-decoration: none; 
  color: rgb(0, 86, 179);
 }

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}